/*Default font*/
$fontFamaly: "Roboto";

$minWidth: 320px;
$maxWidth: 1400;
$maxWidthContainer: 1140;

/*Colors*/
$grey1: #868b8f;
$grey2: #e3eef0;
$dark1: rgba(48, 90, 131, 0.25);
$violet: #B44CCF;

@import "basic";

body{
    font-family: $fontFamaly, sans-serif;
    @include adaptiv-font(18, 16, 1);
    color: $grey1;
    background-color: white;
}

.preload * {
    transition: none !important;
}

.container{
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    padding: 0 15px;
}

.search {
    padding: 3em 0;
    width: 100%;

    @media screen and (max-width: 900px) {
        padding: 1em 0;
    }
    &__form {
        display: flex;
        align-items: center;
        border: 1px solid $grey2;
        padding: .5em 1.5em .5em 1em;
        border-radius: 30px;

        &-input {
            display: block;
            flex: 1 1 auto;
            padding-right: 1em;
        }
        &-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            svg{
                width: 35px;
                height: 35px;

                @media screen and (max-width: 500px) {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
}
.cards {
    padding-bottom: 1em;

    &__inner {
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 2%;
        row-gap: 2vh;
    }
    &__wrapper-message {
        height: 40vh;
        position: relative;
        display: none;
    }
    &__message {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
    }
}
.pop-up {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    transition: visibility 0.2s, opacity 0.2s ease-in;
    visibility: hidden;
    opacity: 0;

    &__wrapper{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(44, 85, 127, 0.25);
        cursor: pointer;
    }
    &__container {
        width: 45%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border-radius: 25px;
        padding: .5em 1.5em 2em;

        @media screen and (max-width: 1000px) {
            width: 90%;
        }
    }

    &__btn-close {
        display: block;
        color: white;
        border-radius: 50%;
        width: 3.7em;
        height: 3.7em;
        font-size: 12px;
        background-color: $violet;
        margin-left: auto;
        margin-right: auto;
        transform: translateY(-2.5em);
        line-height: 3.5em;
        text-align: center
    }
    &__title {
        @include adaptiv-font(28, 26, 1);
        color: black;
        margin-bottom: 1.8em;
        font-weight: 700;
    }
    &__info {
        margin-bottom: 2em;
    }
    &__subtitle {
        @include adaptiv-font(20, 18, 1);
        font-weight: 500;
        color: black;
        margin-bottom: .4em;
    }
    &__additional {}
    &__value--address {}
}
.info-pop-up {
    display: table;
    table-layout: fixed;
    width: 100%;

    @media screen and (max-width: 1000px) {
        display: block;
        overflow: auto;
    }

    &__label {
        width: 40%;
        color: black;
        font-weight: 500;
        line-height: 2;
    }
    &__value {
        width: 60%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &--phone {
            text-decoration: underline;
        }
        &--mail {
            text-decoration: underline;
        }
        &--hire-date {}
        &--position {}
        &--department {}
    }
}
.card-item {
    border-radius: 18px;
    max-width: 32%;
    flex: 0 1 32%;
    transition: all .4s;
    position: relative;
    z-index: 3;
    background-color: white;

    @media screen and (max-width: 900px) {
        max-width: 49%;
        flex: 0 1 49%;
    }
    @media screen and (max-width: 500px) {
        max-width: 100%;
        flex: 0 1 100%;
    }
    
    &::before{
        content: "";
        position: absolute;
        display: block;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0px 20px 30px 15px rgba(111, 103, 129, 0.05);
        border-radius: 18px;
        transition: all .4s;
    }

    &:hover::before {
        box-shadow: 0px 20px 30px 15px rgba(111, 103, 129, 0.098);
    }
    &:active::before {
        box-shadow: 0px 20px 30px 15px rgba(111, 103, 129, 0.2);
    }
}
.card {
    &__btn {
        position: relative;
        z-index: 4;
        padding: 2em 1em;
        width: 100%;
        min-height: 28vh;
        cursor: pointer;
    }
    &__title {
        color: black;
        padding-bottom: 2em;

        @media screen and (max-width: 900px) {
            padding-bottom: 1em;
        }
    }
    &__info {
        &-item {
            & + & {
                margin-top: .5em;
            }
        }
    }
}
.item-info-card {
    display: flex;

    &:first-child{
        svg {
            transform: translateX(-4px);
        }
    }

    &__img {
        padding-right: 1em;
        text-align: left;

        svg{
            width: 20px;
            height: 20px;
            
        }
    }
    &__phone {
        &-icon {}
    }
    &__mail {
        word-break: break-all;
        text-decoration: underline;
        &-icon {}
    }
}
